* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Rubik", sans-serif;
}

:root {
  --color-bg: #3cdbc0;
  --color-tittle: #ffffff;
  --color-text-menu: #4a4a4a;
  --font-size-menu: 16px;
}

.header {
  position: fixed;
  top: 0;
  background-color: var(--color-tittle);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
  }
}

.img-logo {
  width: 155px;
}

.menu {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .menu {
    padding-top: 0px;
  }
}

.blog {
  color: var(--color-text-menu);
  font-size: var(--font-size-menu);
  padding: 10px 10px 13px 10px;
  text-transform: uppercase;
}

.contact {
  color: var(--color-text-menu);
  font-size: var(--font-size-menu);
  text-transform: uppercase;
  padding: 10px 10px 13px 10px;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  word-spacing: 100vw;
}

.tittle {
  color: var(--color-tittle);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .tittle {
    font-size: 40px;
  }
}
